# 将所有依赖提升到最外层
shamefully-hoist=true

# https://pnpm.io/next/npmrc#engine-strict，如果启用此功能，pnpm 将不会安装任何声称与当前 Node 版本不兼容的包。
# engine-strict=false

# 设置淘宝镜像
registry=https://registry.npmmirror.com/

# 设置@billd*包使用的镜像
@billd:registry=https://registry.hsslive.cn/

# https://sharp.pixelplumbing.com/install#chinese-mirror
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas
