// 请尽量不要全局引入这个文件，该文件有一个@keyframes是一定并且只会被编译一次的
// 虽然@keyframes会被编译，但是如果有css模块化的话，其实也不会受影响

@keyframes flashTxtMove {
  0% {
    left: 0;
  }
  100% {
    left: 120%;
  }
}

%flashTxtMixin {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  z &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 200%;
    background: white;
    content: '';
    opacity: 0.6;
    filter: blur(4px);
    transform: translate(-50%, -25%) rotate(45deg);
    animation: flashTxtMove 2s infinite ease;
  }
}

// 文字闪光
@mixin flashTxt {
  @extend %flashTxtMixin;
}
