// 请尽量不要全局引入这个文件，该文件有一个@keyframes是一定并且只会被编译一次的
// 虽然@keyframes会被编译，但是如果有css模块化的话，其实也不会受影响

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

%loadingRotateChangeMixin {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;

  &::before {
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 1;
    content: '';
    transform-origin: left bottom;
    animation: rotate 1.5s infinite linear;
  }
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    content: '';
  }
}

// 加载中，旋转
@mixin loadingRotateChange($px: 30px, $color: gray) {
  width: $px;
  height: $px;
  background-color: rgba($color, 0.5);

  @extend %loadingRotateChangeMixin;

  &::before {
    width: $px + 10px;
    height: $px + 10px;
    background-color: $color;
  }
  &::after {
    width: $px - 10px;
    height: $px - 10px;
    content: '';
  }
}

// .aaa {
//   @include loadingRotateChange();
// }
// .bbb {
//   @include loadingRotateChange();
// }
// .ccc {
//   @include loadingRotateChange();
// }
